.playFilter {
    display: flex;
    width: 100%;
}

.playFilter input{
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    padding: var(--space-xs);
    color: var(--text-h);
    outline:none;
    width: 100%;
    padding: var(--space-md);
    font-size: var(--font-md);
}