.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md) var(--space-lg);
    background: var(--bg);
    border-bottom: 1px solid var(--border);
}

.header__logo svg {
    height: 40px;
    width: auto;
    fill: var(--text-h);
};

.header__nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav__list {
    display: flex;
    gap: var(--space-lg);
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: var(--font-md);
    color: var(--text-h)
}

.header__actions {
    display: flex;
    justify-content: right;
    gap: var(--space-sm);
}

.actions__button, .toggleTheme  {
    padding: var(--space-sm) var(--space-md);
    border: none;
    background: var(--bg);
    color: var(--text-h);
    font-size: var(--font-md);
}

.notAuth {
    background-color: var(--bg-inv);
    border-radius: var(--radius-md);
    color: var(--text);
    font-size: var(--font-md);
}