.container {
    max-width: 1200px;
    margin: var(--space-xl) auto;
    padding: var(--space-lg);
}

.button {
    padding: var(--space-sm) var(--space-md);
    border: none;
    background: var(--bg-inv);
    color: var(--text);
    font-size: var(--font-md);
    border-radius: var(--radius-md);
    margin-top: var(--space-md);
}
